body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.boxcontainer {
  padding: 20px;
}

.box_one,
.box_two,
.box {
  width: 200px;
  height: 200px;
  background: red;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.boxItem {
  width: 30px;
  height: 30px;
  background: #fff;
  margin: 10px;
}

/* .box_two:hover {
  transform: scale(1.5) !important;
} */
